@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

/* Genel Ayarlar */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: "Poppins", sans-serif;
}

:root {
    --bg-color: #081b29;
    --second-bg-color: #112e42;
    --text-color: #ededed;
    --main-color: #00abf0;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

body {
    background: var(--bg-color);
    color: var(--text-color);
}

/* Header */
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    transition: 0.3s;
}

.header.sticky {
    background: var(--bg-color);
}

.logo {
    font-size: 2.5rem;
    color: var(--text-color);
    font-weight: 600;
}

.navbar {
    display: flex;
}

.navbar a {
    font-size: 1.7rem;
    color: var(--text-color);
    font-weight: 500;
    margin-left: 3.5rem;
    transition: 0.3s;
}

.navbar a:hover,
.navbar a.active {
    color: var(--main-color);
}

#menu-icon {
    font-size: 3.6rem;
    color: var(--text-color);
    cursor: pointer;
    display: none;
}

/* Ana Bölüm */
section {
    min-height: 100vh;
    padding: 5rem 9% 2rem;
    margin-top: -50px; /* Üstten boşluk eklemek için */
}

/* Education Bölümü */
.education {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 5rem;
}

.education .education-row {
    display: flex;
    flex-wrap: wrap;
    gap: 5rem;
}

.education-row .education-column {
    flex: 1 1 40rem;
}
.education-row .education-column .title{
    font-size: 1.5rem;
    padding: 1rem;
    margin-bottom: 1rem;
    border: 0.3rem solid #ffffff;
    border-radius: 0.6rem;
    flex-grow: 1;
}

.education-box .education-content {
    display: flex;
    margin-bottom: 2rem;
}

.image-container {
    flex: 0 0 15rem;
    margin-right: 1rem;
}

.image-container img {
    width: 100%;
    height: auto;
    border-radius: 0.6rem;
}

.education-content .content {
    padding: 1.5rem;
    border: 0.2rem solid var(--main-color);
    border-radius: 0.6rem;
    flex-grow: 1;
}

.education-content .content .year {
    font-size: 1.3rem;
    color: var(--main-color);
    padding-bottom: 0.5rem;
}

.education-content .content h3 {
    font-size: 1.5rem;
}


/* Medya Sorguları */
@media (max-width: 1200px) {
    html {
        font-size: 55%;
    }
}

@media (max-width: 991px) {
    .header {
        padding: 2rem 4%;
    }
    section {
        padding: 10rem 4% 2rem;
    }
}

@media (max-width: 768px) {
    #menu-icon {
        display: block;
    }
    .navbar {
        position: absolute;
        top: 100%;
        left: -100%;
        width: 100%;
        padding: 1rem 4%;
        background: var(--main-color);
        box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
        z-index: -1;
        transition: 0.25s ease;
    }
    .navbar.active {
        left: 0;
    }
    .navbar a {
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
        transform: translateX(-20rem);
        transition: 0.25s ease;
    }
    .navbar.active a {
        transform: translateX(0);
    }
}

@media (max-width: 520px) {
    html {
        font-size: 50%;
    }
    .home-sci {
        width: 160px;
    }
    .home-sci a {
        width: 38px;
        height: 38px;
    }
}

@media (max-width: 462px) {
    .promo-banner {
        padding: 8px 15px;
        font-size: 10px;
        margin-top: 20px;
        width: 95%;
        max-width: 400px;
    }

    .promo-banner .promo-icon {
        font-size: 10px;
    }

    .promo-banner .promo-text {
        font-size: 14px;
        margin-right: 5px;
    }

    .promo-banner .countdown {
        font-size: 4px; /* Sayaç boyutunu daha da küçülttük */
    }
}

@media (max-width: 371px) {
    .promo-banner .countdown {
        font-size: 3px; /* Daha küçük ekranlar için sayaç boyutunu daha da küçültüyoruz */
    }
}


/* Animasyonlar */
@keyframes homeBgText {
    0%, 10%, 100% {
        background-position: -33rem 0;
    }
    65%, 85% {
        background-position: 0 0;
    }
}

@keyframes homeCursorText {
    0%, 10%, 100% {
        width: 0;
    }
    65%, 78%, 85% {
        width: 100%;
        opacity: 1;
    }
    75%, 81% {
        opacity: 0;
    }
}

@keyframes aboutSpinner {
    100% {
        transform: rotate(360deg);
    }
}

@keyframes showRight {
    100% {
        width: 0;
    }
}

/* Promo Banner Styles */
.promo-banner {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    background-color: #f8f9fa;
    border-radius: 12px;
    color: #3f3b6c;
    font-size: 18px;
    font-weight: 500;
    margin: 20px auto;
    width: 90%;
    margin-top: 60px; /* Üstten boşluk eklemek için */
    max-width: 1000px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.promo-banner .promo-icon {
    color: #7a5aff;
    font-size: 20px;
    font-weight: bold;
    margin-right: 8px;
}

.promo-banner .promo-text {
    margin-right: 8px;
}

.promo-banner .countdown {
    color: hsl(273, 96%, 50%); /* Kırmızımsı renk */
    font-weight: bold;
    font-size: 20px;
    padding-left: 10px;
}
